body {
  background: linear-gradient(rgb(65, 63, 63), grey);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}
#titulo {
  height: 10vh;
  color: rgb(212, 37, 37);
  font-size: 10vh;

  display: flex;
  justify-content: start;
  align-items: center;
}
#contenedor {
  height: 85vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#infoChannel {
  background-color: aqua;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  padding: 1em;
}
#dateHour {
  background-color: red;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  width: 8em;
}

#screenTv {
  /* background-color: aqua; */
  width: 100vw;
  height: 85vh;
  margin: 1em;
  border: 0.5em solid black;
  border-radius: 4%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0.5em;
  margin: 0.5em;

  object-fit: cover;
}
.startChannel {
  background-image: url(../img/rakutentvthechannelstore.jpg);
  object-fit: cover;
}
#channelName {
  height: 5em;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#hourDate {
  height: 5em;
  width: 10em;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.basicscreenTv {
  background-color: transparent;
}

#remote {
  background-color: green;
  width: 20vw;
  height: 60vh;
  margin: 2em;
  border: 0.2em solid black;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#upRemote {
  background-color: blue;
  height: 30vh;
  width: 17vw;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#downRemote {
  background-color: brown;
  height: 30vh;
  width: 17vw;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-template-rows: repeat(3, 0.6fr);
  justify-content: space-around;
  align-items: center;
}
#onOff {
  background-color: chocolate;
  height: 5vh;
  width: 16vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#buttonOnOff {
  background-color: blue;
  width: 4em;
  border: 0.1em solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#volchan {
  height: 22vh;
  width: 16vw;
  background-color: azure;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#volchan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#vol {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 14vh;
  width: 3vw;
  border: 0.1em solid black;
}
#ch {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 14vh;
  width: 3vw;
  border: 0.1em solid black;
}
.chButton {
  margin-bottom: 1em;
}

.numberButtons {
  background-color: rgb(240, 97, 54);
  height: 3em;
  width: 3em;
  border: 0.1em solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.channel1 {
  background-color: red;
}
.channel2 {
  background-color: yellow;
}
.channel3 {
  background-color: orange;
}
.channel4 {
  background-color: green;
}
.channel5 {
  background-color: blue;
}
.channel6 {
  background-color: violet;
}
.channel7 {
  background-color: white;
}
.channel8 {
  background-color: purple;
}
.channel9 {
  background-color: brown;
}
.screenOff {
  background-color: transparent;
}
.welcome {
  background-color: aquamarine;
}
