body {
  background: linear-gradient(rgb(65, 63, 63), grey);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}
#title {
  font-family: Arial, Helvetica, sans-serif;
  height: 10vh;
  color: rgb(143, 131, 49);
  font-size: 10vh;

  display: flex;
  justify-content: start;
  align-items: center;
}
#contenedor {
  height: 85vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#screenTv {
  width: 100vw;
  height: 85vh;
  margin: 1em;
  border: 0.5em solid black;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0.5em;

  object-fit: cover;
}
#dateHour {
  /* background-color: red; */
  font-size: 2em;
  color: greenyellow;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-shadow: black 4px 0 10px;
  padding-top: 2em;
  padding-inline: 1em;
}
#date {
  background-color: green;
}
#hour {
  background-color: blue;
}
#channelName {
  padding-top: 2em;
  font-size: 2em;
  color: greenyellow;
  padding-inline: 1em;
  font-weight: bold;
  text-shadow: black 4px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.startChannel {
  background-image: url(../img/rakutentvthechannelstore.jpg);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
#infoChannel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#hourDate {
  height: 5em;
  width: 10em;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.basicscreenTv {
  background-color: transparent;
}

#remote {
  background: linear-gradient(black, grey, black);
  width: 20vw;
  height: 60vh;
  margin: 2em;
  border: 0.2em solid black;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#upRemote {
  height: 30vh;
  width: 17vw;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#downRemote {
  height: 30vh;
  width: 17vw;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-template-rows: repeat(3, 0.6fr);
  justify-content: space-around;
  align-items: center;
}
#onOff {
  height: 5vh;
  width: 16vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#buttonOnOff {
  background-color: grey;
  width: 4em;
  border: 0.1em solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#volchan {
  height: 22vh;
  width: 16vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#volchan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#vol {
  background-color: rgb(123, 122, 121);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 14vh;
  width: 3vw;
  border: 0.1em solid black;
}
#ch {
  background-color: rgb(123, 122, 121);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 14vh;
  width: 3vw;
  border: 0.1em solid black;
}
.chButton {
  margin-bottom: 1em;
}

.numberButtons {
  background-color: rgb(123, 122, 121);
  height: 3em;
  width: 3em;
  border: 0.1em solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.channel1 {
  background-image: url(../img/Padra\ de\ familia.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
.channel2 {
  background-image: url(../img/indiana\ jones.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
.channel3 {
  background-image: url(../img/elemental.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
.channel4 {
  background-image: url(../img/thor.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
.channel5 {
  background-image: url(../img/castle.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
.channel6 {
  background-image: url(../img/galaxy.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
.channel7 {
  background-image: url(../img/6Zpz.gif);

  background-repeat: no-repeat;
  background-size: cover;
}
.channel8 {
  background-image: url(../img/JjOn.gif);

  background-repeat: no-repeat;
  background-size: cover;
}
.channel9 {
  background-image: url(../img/UqVL.gif);

  background-repeat: no-repeat;
  background-size: cover;
}
.screenOff {
  background-color: transparent;
}
.welcome {
  background-color: aquamarine;
}
